<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="main"
>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
  <div layout:fragment="main">
    <div class="row">
        <h1 class="text-danger text-center">
            Vous n'etes pas autorisé.
        </h1>
    </div>
  </div>
</body>
</html>