<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="main"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="main">
        <div class="row">
            <div class="jumbotron text-center">
                <h1 class="display-3">Bienvenu dans le site de l'administration des patients</h1>
                <p class="lead">
                    Ici, nous gérons nos patients et nos medecins
                    ainsi que leurs rendez-vous et consultations
                </p>
            </div>
        </div>
    </div>
</body>
</html>